version: "3.9"

services:
  # Local mock API
  mock-local:
    build: .
    container_name: mock-local
    ports:
      - "3000:3000"
    environment:
      - PORT=3000

  # QA mock API
  mock-qa:
    build: .
    container_name: mock-qa
    ports:
      - "4000:4000"
    environment:
      - PORT=4000

  # K6 test runner
  k6:
    build: .
    container_name: k6-tests
    depends_on:
      - mock-local
      - mock-qa
    environment:
      - DOCKER=true
      - K6_DASHBOARD_PORT=5665
    volumes:
      - ./k6-tests:/app/k6-tests