version: '3.9'

services:
  mock-local:
    image: k6-tests
    working_dir: /app
    environment:
      ENV: local
    command: sh -c "npx json-server --watch db.json --port 3000"
    volumes:
      - ./k6-tests:/app
    ports:
      - "3001:3000"

  mock-qa:
    image: k6-tests
    working_dir: /app
    environment:
      ENV: qa
    command: sh -c "npx json-server --watch db.json --port 4000"
    volumes:
      - ./k6-tests:/app
    ports:
      - "3002:4000"

  mock-prod:
    image: k6-tests
    working_dir: /app
    environment:
      ENV: prod
    command: sh -c "npx json-server --watch db.json --port 5000"
    volumes:
      - ./k6-tests:/app
    ports:
      - "3003:5000"

  k6:
    build: .
    working_dir: /app
    environment:
      ENV: local    # Change to local, qa, prod as needed
      DOCKER: "true"
    ports:
      - "5665:5665"
    command: sh -c "npx wait-on http://mock-local:3000 && npm run k6:smoke"