services:
  mock-local:
    image: json-server
    container_name: mock-local
    command: json-server --watch db.json --port 3000
    ports:
      - "3000:3000"

  k6:
    build: .          # <-- points to project root where Dockerfile exists
    container_name: k6-tests
    depends_on:
      - mock-local
    environment:
      - ENV=local
      - DOCKER=true
    command: npm run k6:smoke